.words-side-bar {
  background: $primary;
  position: absolute;
  width: 100%;
  padding: 10px 0 10px 10px;
  height: 90%;
  margin-left: -10px;
  margin-top: -10px;

  .words {
    color: white;

    .word {
      border-bottom: solid 1px white;
      padding: 10px 0 10px 10px;
      cursor: pointer;

      &.active {
        color: $accent2;
        border-bottom: solid 1px $accent2;
        cursor: default;
      }
    }
  }
}

@media only screen and (min-width: 350px) {
  .words-side-bar {
    max-width: 300px;
  }
}