{:host "Specify host (e.g. localhost)"
 :port "Specify port (e.g. 8000)"
 :db   {:dbtype   "Specify the type of database (e.g postgresql)"
        :dbname   "Specify database name"
        :host     "Specify the host name of where the database can be found (e.g. localhost)"
        :user     "Specify the username"
        :password "Specify the password"}}
