{:host
 #immuconf/override "Specify host (e.g. localhost)"

 :port
 #immuconf/override "Specify port (e.g. 8000)"

 :resources-path
 #immuconf/override "Specify resources-path (e.g. /wordroot-data)"

 :db
 {:dbtype
  #immuconf/override "Specify the type of database (e.g postgresql)"

  :dbname
  #immuconf/override "Specify database name"

  :host
  #immuconf/override
  "Specify the host name of where the database can be found (e.g. localhost)"

  :user     #immuconf/override "Specify the username"
  :password #immuconf/override "Specify the password"}}
