@import "../colours";
@import "../constants";

#application {
  height: 100vh;
}

.app {
  height: 100%;
}

.page-container {
  padding: 10px;
  background: $secondary;
  height: calc(100% - #{$navbar-height});
  overflow: scroll;
}