/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Base Styles */
html {
  background: #555555;
}

body {
  max-height: 100vh;
  background: white;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

/* Colors */
/* Primary: #263238 */
/* Secondary: #B0BEC5 */
/* Accent: #E65100 */

/* App Styles */
.navbar {
  padding: 10px;
  background: #263238;
}

.site-links .site-link:not(:first-child) {
  margin-left: 5px;
}

.site-link {
  display: inline-block;
}

.site-link a {
  text-decoration: none;
  color: white;
}

.site-link a.active {
  color: #E65100;
}

.page-container {
  padding: 10px;
  background: #B0BEC5;
  height: 100%;
}

@media only screen and (min-width: 800px) {
  body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}