.navbar {
  padding: 10px;
  background: $primary;
  border-bottom: solid 1px #E65100;

  .site-links .site-link:not(:first-child) {
    margin-left: 5px;
  }

  .site-link {
    display: inline-block;

    a {
      text-decoration: none;
      color: white;
    }

    a.active {
      color: $accent1;
    }
  }
}