{:host           "localhost"
 :port           8000
 :resources-path "/wordroot-dev-data"
 :db             {:dbtype   "postgresql"
                  :dbname   "wordroot_dev_database"
                  :host     "localhost"
                  :user     "wordroot_user"
                  :password "weak_password"}}
